In [0]:
sourceCSVFileURL="https://retailpricing.blob.core.windows.net/daily-pricing"
bronzelayerCSVFilePath="abfss://working-labs@dmodemoaccount123.dfs.core.windows.net/bronze/daily-pricing/csv"

In [0]:

dailyPricingSourceBaseURL="https://retailpricing.blob.core.windows.net/"
dailyPricingSourceFolder="daily-pricing/"
dailyPricingSourceFileName="PW_MW_DR_01012023.csv"

dailyPricingSinkLayerName="bronze"
dailyPricingSinkStorageAccountName="dmodemoaccount123"
dailyPricingSinkFolderName='daily-pricing'

In [0]:
# ✅ Step 1: Define your Azure Storage info
storage_account_name = "dmodemoaccount123"
storage_account_key = ""  # Replace with actual key from Azure Portal

# ✅ Step 2: Set Spark config for accessing ADLS Gen2
spark.conf.set(
    f"fs.azure.account.key.{storage_account_name}.dfs.core.windows.net",
    storage_account_key
)

In [0]:
import pandas as pds

In [0]:
dailyPricingSourceURL = dailyPricingSourceBaseURL + dailyPricingSourceFolder  + dailyPricingSourceFileName
print(dailyPricingSourceURL)

https://retailpricing.blob.core.windows.net/daily-pricing/PW_MW_DR_01012023.csv

In [0]:
pds.read_csv(dailyPricingSourceURL)

      DATE_OF_PRICING  ROW_ID  ... MAXIMUM_PRICE MODAL_PRICE
0          01/01/2023   12699  ...           350       300.0
1          01/01/2023   12711  ...           415       370.0
2          01/01/2023   12723  ...           550       500.0
3          01/01/2023   12735  ...           300       200.0
4          01/01/2023   12759  ...          4400      3900.0
...               ...     ...  ...           ...         ...
12872      01/01/2023   12753  ...          1400      1300.0
12873      01/01/2023   12765  ...          2600      2300.0
12874      01/01/2023   12777  ...          3100      3050.0
12875      01/01/2023   12789  ...           700       600.0
12876      01/01/2023   12801  ...           700       600.0

[12877 rows x 12 columns]

In [0]:
dailyPricingPandasDF=pds.read_csv(dailyPricingSourceURL)
dailyPricingPandasDF.head()

  DATE_OF_PRICING  ROW_ID  ... MAXIMUM_PRICE MODAL_PRICE
0      01/01/2023   12699  ...           350       300.0
1      01/01/2023   12711  ...           415       370.0
2      01/01/2023   12723  ...           550       500.0
3      01/01/2023   12735  ...           300       200.0
4      01/01/2023   12759  ...          4400      3900.0

[5 rows x 12 columns]

In [0]:
dailyPricingSparkDF=spark.createDataFrame(dailyPricingPandasDF)

In [0]:
dailyPricingSinkFolderPath=f"abfss://{dailyPricingSinkLayerName}@{dailyPricingSinkStorageAccountName}.dfs.core.windows.net/{dailyPricingSinkFolderName}"
print(dailyPricingSinkFolderPath)
# abfss://working-labs@dmodemoaccount123.dfs.core.windows.net/bronze/daily-pricing/csv
(dailyPricingSparkDF
 .write
  .option("header", "true")
  .csv(dailyPricingSinkFolderPath)
 
 )

abfss://bronze@dmodemoaccount123.dfs.core.windows.net/daily-pricing